body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0906;
}
h1  {
    color: white;
	font-size: 70px;
}
h2  {
    color: white;
	font-size: 25px;
}
h3  {
    color: white;
	font-size: 18px;
	position: absolute;
	top: 12px;
	right: -300px;
}
main  {
    padding-left: 300px;
}	
h4  {
    color: white;
	font-size: 18px;
	position: absolute;
	top: 12px;
	right: -400px;
}
span  {
	position: absolute;
    left: 10px;
    top: 10px;
	width: 70%;
}
form {
  padding-top: 7px;
  font-size: 15px;
}
p  {
    color: white;
	font-size: 16px;
}
#object1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 830px;
  left: 700px;
}
#object2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 1050px;
  left: 700px;
}
#object3 {
     width: 850px;
     height: 850px;
     position: absolute;
	 top: 90px;
	 left: 30px;
	 opacity: 70%;
	 z-index:-1;
}
footer1  {
background-color: #c48816;
position: absolute;
bottom: -60px;
right: 325px;
width: 500px;
text-align: center;
margin-left: 0;
padding: 20px;
margin: 20px;
border: 1px solid white;
}
footer2  {
background-color: #c48816;
position: absolute;
bottom: -270px;
right: 325px;
width: 500px;
text-align: center;
margin-left: 0;
padding: 20px;
margin: 20px;
border: 1px solid white;
}